{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block main %}
    <h3 class="page-title">发送消息</h3>

    <form action="/send_message" method="POST">
        <div class='form-container'>
            <div class='form-group'>
                <input type="text" class="form-control" placeholder="接收者用户名" name="receiver_name" value="{{ receiver_name }}" required>
            </div>
            <div class='form-group'>
                <textarea class="form-control" placeholder="输入消息" name="content" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">发送</button>
            </div>
        </div>
    </form>
{% endblock %}
