{% extends 'base.html' %}

{% block title %}详情-{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_post.css') }}">
{% endblock %}

{% block main %}
    <h3 class="page-title">{{ post.title }}</h3>
    <hr>
    <p class="post-content">{{ post.content }}</p>
    <hr>
    <p class="post-info">
        <span>作者： {{ post.user.username }}</span>
        <span>时间： {{ post.created_at }}</span>
    </p>



    <h4>评论： （{{ comment_cnt }}）</h4>
    <form action="{{ url_for('post.comment', post_id=post.id) }}" method="post">
        <div class="form-group">
            <input name="content" type="text" class="from-control" placeholder="请填写评论" required>
            <input type="hidden" name="post_id" value="{{ post.id }}">
        </div>
        <div class="form-group" style="text-align: right;">
            <button class="btn btn-primary">立即评论</button>
        </div>
    </form>

    <ul class="comment-list">
        {% for comment in comments %}
            <li>
                <div class="user-info">
                    {% if comment.user.is_admin %}
                        <img src="{{ url_for('static', filename='images/admin-avatar.png') }}"
                         alt="" class="avatar">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default-avatar.png') }}"
                         alt="" class="avatar">
                    {% endif %}
                    <span class="username">{{ comment.user.username }}</span>
                    <span class="created-at">{{ comment.created_at }}</span>
                    {% if user.is_admin %}
                            <!-- 仅对管理员用户显示删除按钮 -->
                            <a href="{{ url_for('post.delete_comment', comment_id=comment.id) }}">删除</a>
                    {% endif %}
                </div>
                <p class="comment-content">{{ comment.content }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}